<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.baseonline.zammadhelpdesk.refresh</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7428603098298858~5770764367</string>
	<key>SKAdNetworkItems</key>
	<array>
		<string>cstr6suwn9.skadnetwork</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>nothing-font-5x7.ttf</string>
		<string>DotGothic16-Regular.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Dosis-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
